html, body, .container {
  height: 100%;
}
  
/* Reset */
html, body, h1, p, a, div, section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}
  
  /* Basic */
body { 
  font-family: 'Kaushan Script';font-size: 22px;
  color: #3d3a3a;
  letter-spacing: 5px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.responisve-img {
  width: 50%;
  height: auto;
}
  
h1 {
  color: #413e3e;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 20px;
}
  
a {
  color: #ffffff;
}
  
p {
  margin: 0 0 15px 0;
}
  
strong {
  font-weight: 700;
}

.header {
  text-align: center;
}
  
blockquote {
  text-align: center;
  display: block;
  max-width: 900px;
  margin: 15px auto;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);  
  color: #eeeeee;
  font-family: "Kaushan Script", serif;
  font-size: 22px;
  line-height: 28px;
}

blockquote p{
  font-family: 'Times New Roman', Times, serif;
}
  
blockquote cite {
  display: block;
  font: 18px/23px "Kaushan Script", sans-serif;
  font-size: 16px;
  margin-top: 16px;
  color: #cccccc;
  text-transform: uppercase;
}
  

  
  /* Special */
.sub-title {
  margin: 50px auto;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
}



body {
    /* Location of the image */
    background-image: url(../img/bg_second.jpeg);
    
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;
    
}
  